services:
  web:
    image: ghcr.io/stassss2011/tristlabs-blazorwebapp:latest
    container_name: blazorwebapp
    restart: unless-stopped
    ports:
      - "80:8080"

  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup