name: build-and-push-ghcr

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./BlazorWebApp/BlazorWebApp
          file: ./BlazorWebApp/BlazorWebApp/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/tristlabs-blazorwebapp:latest
            ghcr.io/${{ github.repository_owner }}/tristlabs-blazorwebapp:${{ github.sha }}